/* stylesheet */
body {
	background-image: url("bg.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #eafffd;
}