/* stylesheet */
body {
	/*background-image: url("bg.gif");*/
	/*background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;*/
        background-color: black;
	font-family: "Century Gothic ", sans-serif;
        font-size: 30px;
        font-color: white;
	color: #eafffd;
}

h1 {
        font-family: "Source Code Pro", sans-serif;
        font-weight: lighter;
        font-size: 60px;
        font-color: white;
        text-align: center;
        letter-spacing: 8px;
        margin-top: 200px;
        margin-bottom: 20px;
}

#start {
        background: black;
        border: 1px solid white;
        padding-left: 10px;
        padding-right: 10px;
        font-family: "Source Code Pro", sans-serif;
        font-weight: lighter;
        font-size: 20px;
        color: white;
        text-align: center;
        letter-spacing: 3px;
}

#start:hover {
        background-color: white;
        color: black;
}

.button {
        background: black;
        border: 1px solid white;
        padding-left: 10px;
        padding-right: 10px;
        font-family: "Source Code Pro", sans-serif;
        font-weight: lighter;
        font-size: 15px;
        color: white;
        text-align: center;
        letter-spacing: 3px;
}

.button:hover {
        background-color: white;
        color: black;
}

.open>.dropdown-menu {
        background-color: white;
        font-family: "Source Code Pro", sans-serif;
        font-weight: lighter;
        width: 5px;
}

nav {
        text-align: center;
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}

#loading {
        display:none;
}
