/* stylesheet */
body {
	background-image: url("bg.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    font-color: white;
	color: #eafffd;
}
