<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Audiowned</title>
    <!-- <meta http-equiv="refresh" content="3"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/animations.css" type="text/css" />
    <link rel="stylesheet" href="static/css/gamestyle.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.1/dist/progressbar.js"></script>
    <script>
        var round = 1;
        var date;
        var counter = 1;
        var correctAns;
        var index = 0;
        var used = new Array(10);
        var bar;

        $(document).ready(function(){
            bar = new ProgressBar.Line(progress, {
                    strokeWidth: 4,
                    duration: 10000,
                    color: '#FFEA82',
                    trailColor: '#eee',
                    trailWidth: 1,
                    svgStyle: {width: '100%', height: '100%'},
                    from: {color: '#5AFE32'},
                    to: {color: '#FA483F'},
                    step: (state, bar) => {
                    bar.path.setAttribute('stroke', state.color);
                }
            });
            bar.animate(1.0);
        });

        function sendChoice(num) {
                if (round == 8) {
                        $("#gamePage").addClass('animated slideOutRight');
                         setTimeout(function(){
                                 window.location.href='/win';
                         }, 800);
                }
            round += 1;
            document.getElementById('loadheader').innerHTML = "ROUND " + round;
            bar.set(0.0);
            bar.animate(1.0);

            var currTime = new Date();
            var time = currTime.getSeconds() - date.getSeconds();
            var score;
            if (num == correctAns) {
                score = 100 - time;
                var oldScore = document.getElementById('ownScore').innerHTML.split(' ')[1];
                var newScore = parseInt(oldScore) + score;
                document.getElementById('ownScore').innerHTML = "SCORE: " + newScore;
            }

            $.ajax({
                type: "POST",
                url: "/submit",
                data: {
                    "score": score,
                    "round": round,
                },
                dataType: "json",
                statusCode: {
                    200: function(){
                        console.log("time:" + time);
                        counter++;
                        player.pause();
                        player.pause();
                        playmusic(counter);
                    }
                },
                error: function() {
                    console.log("error");
                    counter++;
                    player.pause();
                }
            });
        };
        function playmusic() {
                $("#buttons").addClass('animated slideInLeft');
                date = new Date();
                var songs = JSON.parse(htmlDecode("<%= JSON.stringify(MUSIC) %>"));
                var counter = getRandomInt(0, 39);
                if (used.indexOf(counter) == -1) {
                    counter = getRandomInt(0, 39);
                }
                used[index] = counter;
                index++;

                player = new Audio(songs[counter].url);

                var wrong1 = getRandomInt(0, 39), wrong2 = getRandomInt(0, 39), wrong3 = getRandomInt(0, 39);
                while (wrong1 == counter || wrong2 == counter || wrong3 == counter) {
                    if (wrong1 == counter || wrong1 == wrong2 || wrong1 == wrong3) {
                        wrong1 = getRandomInt(0, 39);
                    }
                    if (wrong2 == counter || wrong2 == wrong3) {
                        wrong2 = getRandomInt(0, 39);
                    }
                    if (wrong3 == counter) {
                        wrong3 = getRandomInt(0, 39);
                    }
                }
                correctAns = getRandomInt(1, 4);
                console.log(songs[counter].name);
                switch (correctAns) {
                    case 1:
                        document.getElementById("song1").innerHTML = songs[counter].name;
                        document.getElementById("song2").innerHTML = songs[wrong1].name;
                        document.getElementById("song3").innerHTML = songs[wrong2].name;
                        document.getElementById("song4").innerHTML = songs[wrong3].name;
                        break;
                    case 2:
                        document.getElementById("song2").innerHTML = songs[counter].name;
                        document.getElementById("song1").innerHTML = songs[wrong1].name;
                        document.getElementById("song3").innerHTML = songs[wrong2].name;
                        document.getElementById("song4").innerHTML = songs[wrong3].name;
                        break;
                    case 3:
                        document.getElementById("song3").innerHTML = songs[counter].name;
                        document.getElementById("song2").innerHTML = songs[wrong1].name;
                        document.getElementById("song1").innerHTML = songs[wrong2].name;
                        document.getElementById("song4").innerHTML = songs[wrong3].name;
                        break;
                    case 4:
                        document.getElementById("song4").innerHTML = songs[counter].name;
                        document.getElementById("song2").innerHTML = songs[wrong1].name;
                        document.getElementById("song3").innerHTML = songs[wrong2].name;
                        document.getElementById("song1").innerHTML = songs[wrong3].name;
                        break;
                    default:
                        break;
                }

                player.autoplay = true;
        }

        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

        function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        setTimeout(function(){
               sendChoice(10);
        }, 10000);
       </script>

</head>
<div id="gamePage" >
<body onload="playmusic()" class="animated slideInLeft">

            <source src="bgmusic.mp3" type="audio/mpeg">
        <!-- <audio autoplay loop>
            <source src="bgmusic.mp3" type="audio/mpeg">
        </audio>
        <audio controls autoplay>
            <source src="bgmusic.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> -->
        <header>
              <h1 id="loadheader">ROUND 1</h1>
        </header>
        <div id="pics">
                <div id="userpic">
                    <img src="https://scontent.fluk1-1.fna.fbcdn.net/v/t31.0-8/16707354_1270731589629046_5534878168568381697_o.jpg?oh=51f6c7e662abb9b9ad3e9d619ab21f88&oe=59556726" alt="l8k8" width=150px>
                </div>
                <div id="progress"></div>
                <div id="opppic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="placeholder" width="150px">
                </div>
        </div>
        <div id="scores">
                <h3 id="ownScore">SCORE: 0</h3>
                <h3 id="oppScore">SCORE: 0<oppScore> </h3>
        </div>

        <div id="buttons" class="slideInLeft">
                <div>
                     <button class="button" onclick="sendChoice(1)" id="song1"> song 1</button>
                </div>
                <div>
                    <button class="button" onclick="sendChoice(2)" id="song2"> song 2 </button>
                </div>
                <div>
                    <button class="button" onclick="sendChoice(3)" id="song3"> song 3 </button>
                </div>
                <div>
                    <button class="button" onclick="sendChoice(4)" id="song4"> song 4 </button>
                </div>

        </div>
        </div>

</body>
</html>
